<launch>
    <!-- Start the raspicam node -->
    <node name="raspicam_node" pkg="raspicam_node" type="raspicam_node" output="screen">
        <param name="width" value="640"/>
        <param name="height" value="480"/>
        <param name="framerate" value="30"/>
        <param name="brightness" value="50"/>
        <param name="camera_frame_id" value="camera"/>
        <param name="camera_info_url" value=""/>
        <param name="enable_raw" value="true"/>
    </node>

    <!-- Start the custom camera node -->
    <node name="open_camera_node" pkg="camera_node" type="open_camera_node.py" output="screen"/>
</launch>
